@import "tailwindcss";

@theme {
    --color-brand-900: #03045e;
    --color-brand-800: #023e8a;
    --color-brand-700: #0077b6;
    --color-brand-600: #0096c7;
    --color-brand-500: #00b4d8;
    --color-brand-400: #48cae4;
    --color-brand-300: #90e0ef;
    --color-brand-200: #ade8f4;
    --color-brand-100: #caf0f8;
}